<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="net.bucssa.buassist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/bucssa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bucssa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">


        <!--剪切图片的Activity-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!--欢迎页-->
        <activity android:name=".Ui.Welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--首页-->
        <activity android:name=".MainActivity"/>
        <!--登录页-->
        <activity android:name=".Ui.Login.LoginActivity"/>
        <!--个人资料页-->
        <activity android:name=".Ui.Fragments.Mine.ProfileActivity"/>
        <!--我的收藏-->
        <activity android:name=".Ui.Fragments.Mine.MyCollectionActivity"/>
        <!--我的好友-->
        <activity android:name=".Ui.Fragments.Mine.MyFriendActivity"/>
        <!--聊天室页-->
        <activity android:name=".Ui.Fragments.Message.ChatRoomActivity"/>
        <!--创建聊天-->
        <activity android:name=".Ui.Fragments.Message.CreateChatActivity"/>

        <!--设置相关-->
        <activity android:name=".Ui.Fragments.Mine.InputActivity"/>
        <activity android:name=".Ui.Settings.SettingActivity"/>
        <activity android:name=".Ui.Settings.AccSettingActivity"/>
        <activity android:name=".Ui.Settings.EditPasswordActivity"/>
        <activity android:name=".Ui.Settings.SetPublicActivity"/>
        <activity android:name=".Ui.Fragments.Mine.PickMajorActivity"/>

        <!--大腿课友页面-->
        <activity android:name=".Ui.Classmates.ClassmateActivity"/>
        <activity android:name=".Ui.Classmates.Class.FindClassActivity"/>
        <activity android:name=".Ui.Classmates.Class.ClassDetailActivity"/>
        <activity android:name=".Ui.Classmates.Group.GroupDetailActivity"/>
        <activity android:name=".Ui.Classmates.Group.MyGroupActivity"/>
        <activity android:name=".Ui.Classmates.Post.MyTopicActivity"/>
        <activity android:name=".Ui.Classmates.Post.PostDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".Ui.Classmates.Post.CreatePostActivity"/>
        <activity android:name=".Ui.Classmates.Group.CreateGroupActivity"/>
        <activity android:name=".Ui.Classmates.Group.MemberActivity"/>
        <activity android:name=".Ui.Classmates.Group.SignInActivity"/>
        <activity android:name=".Ui.Classmates.Group.EditGroupInfoActivity"/>


        <!--网页WebView-->
        <activity android:name=".Ui.News.WebPageActivity"/>
        <activity android:name=".Ui.Webview.WebViewActivity"/>

        <!--他人资料-->
        <activity android:name=".Ui.Fragments.Mine.OtherProfileActivity"/>

        <!--Zxing相关,注意全类名是否正确！！！-->
        <activity android:name=".Util.zxing.android.CaptureActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />

    </application>

</manifest>
